
<div class="container" id="header">

    <div class="row">
        <div class="col-xs-4">
            <a class="nav-link" href="/"><div id="home-link"><i class="fa fa-home fa-lg nav-icon" alt="Home"></i></div></a>
        </div>
        <div class="col-xs-4 title wrap">
            <a class="nav-link" href="/"><div id="header-name">cliq</div></a>
        </div>
        <div class="col-xs-4 new-game-link">      
        <a class="nav-link" href="/num_rounds">     
            <span class="fa-stack fa-med new-game">
              <i class="fa fa-plus fa-stack-1x game-plus"></i>
              <i class="fa fa-gamepad fa-stack-header"></i>
            </span>  
        </a>                  
        </div>
    </div>
</div>
