
<div class="container" id="header">
    <div class="row">
        
        <div class="col-xs-4">
            <a class="nav-link" href="/">
                <div id="menu-link">
                    <i class="fa fa-bars fa-lg nav-icon" alt="Menu"></i>
                </div>
            </a>
        </div>
        
        <div class="col-xs-4 title wrap">
            <div id="header-name">{{title}}</div>
        </div>
        
        <div class="col-xs-4">
            <a class="nav-link" href="/profile">
                <div id="profile-link">
                    <i class="fa fa-user fa-lg nav-icon" alt="Profile"></i>
                </div>
            </a>
        </div>
    </div>
</div>
