
<div class="container wrap push" id="header">

    <div class="row">
        <div class="col-xs-4">      
        <a class="nav-link" href="/num_rounds">     
            <span class="fa-stack fa-med new-game">
              <i class="fa fa-plus fa-stack-1x game-plus"></i>
              <i class="fa fa-gamepad fa-stack-header"></i>
            </span>  
        </a>                  
        </div>

        <div class="col-xs-4 title wrap">
            <a class="nav-link" href="/"><div id="header-name"><!--<i class="fa fa-home fa-xs nav-icon" alt="Home"></i>&nbsp;-->cliq</div></a>
        </div>
        <div class="col-xs-4">
                <div class="logout">
                    <a id="new-game-icon" class="nav-link" href="/logout"><i class="fa fa-sign-out fa-stack-header nav-icon" alt="Logout"></i></a>
                </div>
        </div>
    </div>
</div>
