
{{#each status_messages }}
    <div class="row">        
        <div class="col-xs-1"></div>
        <div class="col-xs-10 img-rounded {{class}} status-message">
                <span class="glyphicon {{glyphicon}}"></span> 
                {{{ text }}}
        </div>
        <div class="col-xs-1"></div>
    </div>
{{/each}}
