<!doctype html>

<html>
<head>
    <title>cliq</title>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/cliq.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <link href="/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet" >

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <script>
          // window.fbAsyncInit = function() {
          //   FB.init({
          //     appId      : 746219685422368,
          //     xfbml      : true,
          //     version    : 'v2.0'
          //   });

            // FB.getLoginStatus(function(response) {
            //   if (response.status === 'connected') {
            //     console.log('Logged in.');
            //   }
            //   else {
            //     FB.login(function(response) {
            //            // handle the response
            //          }, {scope: 'public_profile,email'});
            //   }
            // });

          };

          // (function(d, s, id){
          //    var js, fjs = d.getElementsByTagName(s)[0];
          //    if (d.getElementById(id)) {return;}
          //    js = d.createElement(s); js.id = id;
          //    js.src = "//connect.facebook.net/en_US/sdk.js";
          //    fjs.parentNode.insertBefore(js, fjs);
          //  }(document, 'script', 'facebook-jssdk'));
        </script>

    <div class="container">

        

        {{> status_messages }}

        <div class="row">
            <div class="icon-wrapper">
                <img src="/images/logo-target.png" alt="studybuddy-icon" class="main-icon">
                <h2>cliq</h2>
            </div>

        </div>


        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <form action="/post-login" method="POST" role="form">
                  <div class="form-group">
                        <input type="tel" class="form-control" name="phone" id="phone" placeholder="Phone">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                  </div>
                   <!--p class="signup-text"> Not a member yet?<br/>(Just sign up with your email!) </p-->
                  <button type="submit" class="btn login">Login</button>
                </form>
            </div>
            <div class="col-xs-2"></div>
        </div>

        <div class="row">
            <div class="col-xs-2"></div>
            <!-- <div class="col-xs-8"> -->
              <div style="text-align: center;" class="fb-login-button col-xs-8" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false" scope="public_profile, user_friends, email" onlogin="redirect_home();"></div>
            <!-- </div> -->
            <div class="col-xs-2"></div>
      </div>


            <!--  -->
            <div class="row"><div class="col-xs-2"></div>
            <div class="col-xs-8">
            <form action="/new-profile" method="GET" role="form">
                <button type="submit" class="btn signup">Need an account?</button>
            </form>
        </div>
        <div class="col-xs-2"></div>
        
        </div>


        <div class="row"></div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/studybuddy.js"></script>
    

     <script>
    //   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    //   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    //   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    //   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    //   ga('create', 'UA-48453653-2', 'studdybuddy.herokuapp.com');
    //   //ga('create', 'UA-48453653-2', {'cookieDomain': 'none'});
    //   ga('send', 'pageview');

    function redirect_home() {
        console.log("SEND ME TO MY GAMES!");
        window.location = "/games";
    }

    // </script>

</body>
</html>
