@font-face {
 font-family: Avenir;
 src: url('/fonts/AvenirLTStd-Light.otf');   
}

body {
    background-color: #16a085;
    font-family: Avenir;
}

h2#main-header {
    font-family: Avenir;
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 10%;
}


.main-icon {
    width: 100px;
}


.icon-wrapper {
    margin-top: 15%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.btn.login {
    margin-top: 10px;
	color: white;
	background-color: #1abc9c;
    font-weight: bolder;
}

.btn.signup {
    margin-top: 10px;
    color: black;
    background-color: #ecf0f1;
}

